$base-font-size: 16px;
$tablet-font-size: 15px;
$phone-font-size: 10px;

//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;

//Workspace
$desktop-workspace: 1100px;
$tablet-workspace: 740px;
$phone-workspace: 90%;

//Цвета
$blue1: #3C67FF;
$blue2: #3861F0;
$blue-hover: #1cbbff;
$blue-active: rgba(28, 187, 255, .7);
