html {
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;

  @include tablet() {
    font-size: $tablet-font-size;
  }

  @include phone() {
    font-size: $phone-font-size;
  }
}

h1 {
  font-size: rem(36px);
}

h2 {
  font-size: rem(32px);
}

h3 {
  font-size: rem(28px);
}

h4 {
  font-size: rem(24px);
}

h5 {
  font-size: rem(16px);
}

h6 {
  font-size: rem(12px);
}
